
<div id="game">
	<%if @loser %>
      <div class="alert alert-error"><%=@loser%></div>
    <% end %>
    <%if @winner %>
      <div class="alert alert-success"><%=@winner%></div>
    <% end %>
	<h3>Welcome <%= session[:player_name] %>...to ruby blackjack!</h3>
	<p>What would you like to do next?</p>

	<%if @show_hit_stay==true %>
	<div class="form-inline">
		<form id="hit_form" action="/game/player/hit" method="post">
			<input type="submit" class="btn btn-success" value="Hit">
		</form>
		<form id="stay_form" action="/game/player/stay" method="post">
			<input type="submit" class="btn btn-warning" value="Stay">
		</form>
	</div>
	<% end %>

		<% if @show_dealer_hit %>
				<form id="dealer_hit" action='/game/dealer/hit' method='post' class='form-inline'>
						<input type='submit' class='btn btn-primary' value='Click to see Dealer cards'>
				</form>
		<%end%>

	<% if @play_again %> 
	<p>
	<bold>Play again?</bold>
	<a href="/bet" class="btn btn-primary">Yes</a>
	<a href="/game_over" class="btn"> No</a>
	</p>
	<%end%>

	<div id="player_cards" class="well">
		<h4>Player's cards: <%= calculate_total(session[:player_cards])%></h4>

		<% session[:player_cards].each do |card| %>
		<%= card_image(card) %>
		<% end %>

		<h4>What would <%= session[:player_name] %> like to do now? <%= session[:player_name] %> has &pound<%=session[:player_pot] %> and has placed a bet of &pound<%= session[:player_bet] %></h4>
	</div>

	<br>

	<div class="well">
		<h4>Dealer's cards: 	<% if @show_dealer_hit %>
				Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit.
		<%end%></h4>
		<% session[:dealer_cards].each_with_index do |card, i| %>
			<% if session[:turn] != "Dealer" && i==0 %>
					<img src="/images/cards/cover.jpg">
			<% else %>
					<%= card_image(card) %>
			<% end %>
		<% end %>



	</div>
</div>

	




